{
    questions: 'What do you put around a string?',
    choiceA: 'Paranthesis',
    choiceB: 'Curly brackets',
    choiceC: 'Quotations',
    choiceD: 'Pound sign',
    correct: 'C'
},
{
    questions: 'What does the * do in CSS',
    choiceA: 'Applies snowflakes to an element',
    choiceB: 'Applies styling to the entire page',
    choiceC: 'Applies styling to all the other *',
    choiceD: 'None of the above',
    correct: 'B'
},
{
    questions: 'Which is the biggest header on an html page',
    choiceA: 'H1',
    choiceB: 'H2',
    choiceC: 'H3',
    choiceD: 'H6',
    correct: 'A'
},
{
    questions: 'What are the keys you press to get the bones of an HTML started for you',
    choiceA: '@ + Shift',
    choiceB: 'Tab + p',
    choiceC: 'Alt + Enter',
    choiceD: '! + Tab',
    correct: 'D'